* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    margin-top: 200px;
    padding: 25px 0;
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid black;
    
    
}


h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}

input {
    height: 15px;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border: 1px solid rgb(72, 150, 72);
}


button {
    display: inline;
    padding: 10px;
    cursor: pointer;
    background-color: darkgreen;
    border: none;
    font-size: 11px;
    font-weight: 400;
    
    
}
button:hover  {
    background-color: rgb(52, 133, 52);
}

.li {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    max-width: 400px;
    width: 100%;
    cursor: pointer;
}
.li , #riscado {
    text-decoration: line-through none;
}