* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(151, 52, 13);
    /*background-image: url(https://http2.mlstatic.com/D_NQ_NP_889475-MLB69338205258_052023-O.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;*/
}
.container {
    display: block;
    background-color:antiquewhite;
    text-align: center;
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    padding:50px ;
    border-radius: 15px;
    
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color:rgb(24, 23, 7);
    font-weight:700;

}
form input  {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    padding: 15px;
    font-size: 15px;

}

button {
    height: 30px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: darkolivegreen;
    width: 100px;
    width: 80%;
    cursor: pointer;
    font-size: 18px;
    margin-bottom:15px ;
}

thead tr th {

    border: none;
    border-bottom: 2px solid black;
    width: 150px;
    width: 8%;
    font-weight: 300;
    background-color: rgba(143, 67, 37, 0.8);
    padding: 10px;
    
}
tbody  td {
    padding-top: 8px;
}
